<div style="text-align:center">
    <nav class="navbar navbar-warning bg-warning">
        <h5>Daily Task Manager</h5>
        <button
            id="dialogBtn"
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            aria-pressed="false"
            autocomplete="off"
            data-target="#taskModal">
            Add New Task
        </button>
    </nav>

    <!-- Modal -->
    <div
        class="modal fade"
        id="taskModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Task Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Task</label>
                            <input
                                [(ngModel)]="taskObject.taskName"
                                name="something"
                                type="text"
                                class="form-control"
                                id="exampleFormControlInput1"
                                placeholder="Task Name"></div>
                            <div>
                                <label for="formPriority">Select Priority</label>
                                <select
                                    [(ngModel)]="taskObject.taskPriority"
                                    id="formPriority"
                                    class="form-control">
                                    <option *ngFor="let p of priority" [value]="p">
                                        {{p}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label for="formStatus">Select Status</label>
                                <select
                                    [(ngModel)]="taskObject.taskStatus"
                                    id="formStatus"
                                    class="form-control">
                                    <option *ngFor="let s of status" [value]="s">
                                        {{s}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label for="description">Description</label>
                                <input
                                    [(ngModel)]="taskObject.taskDescription"
                                    name="taskDescription"
                                    type="text"
                                    placeholder="Description"
                                    id="description"
                                    class="form-control"></div>
                                <div>
                                    <label for="taskDate">Task Date</label>
                                    <input
                                        [(ngModel)]="taskObject.taskDate"
                                        name="taskDate"
                                        type="datetime-local"
                                        class="form-control"
                                        placeholder="date"
                                        id="taskDate"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button (click)="addNewTask()" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end font-weight-bold m-5"
                    *ngIf="completedPercentage() !=='' "
                    [ngStyle]="{'color':getColor(completedPercentage())}">{{completedPercentage()}}
                    %</div>

                <div class="row">
                    <div class="card col">
                        <div class="card-header">
                            Pending
                        </div>
                        <div class="card-body">
                            <div
                                *ngFor="let item of __filter('Pending')"
                                class="div mb-0 d-flex justify-content-between bg-info p-1 align-item-center">
                                <div class="d-flex ">
                                    <i *ngIf="item.taskPriority == 'High'" class="material-icons">
                                        arrow_upward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Low'" class="material-icons">
                                        arrow_downward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Medium'" class="material-icons">
                                        trending_flat
                                    </i>
                                    <p>
                                        {{item.taskName}}
                                    </p>

                                </div>
                                <div>
                                    <button (click)="removeTask(item.id)">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </button>
                                    <button (click)="editTask(item.id)">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card col">
                        <div class="card-header">
                            In Process
                        </div>
                        <div class="card-body">
                            <div
                                *ngFor="let item of __filter('In Process')"
                                class="div mb-0 d-flex justify-content-between bg-secondary">
                                <div class="d-flex ">
                                    <i *ngIf="item.taskPriority == 'High'" class="material-icons">
                                        arrow_upward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Low'" class="material-icons">
                                        arrow_downward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Medium'" class="material-icons">
                                        trending_flat
                                    </i>
                                    <p>
                                        {{item.taskName}}
                                    </p>

                                </div>
                                <div>
                                    <button (click)="removeTask(item.id)">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </button>
                                    <button (click)="editTask(item.id)">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card col">
                        <div class="card-header">
                            Completed
                        </div>
                        <div class="card-body">
                            <div
                                *ngFor="let item of __filter('Completed')"
                                class="div mb-0 d-flex justify-content-between bg-success">
                                <div class="d-flex ">
                                    <i *ngIf="item.taskPriority == 'High'" class="material-icons">
                                        arrow_upward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Low'" class="material-icons">
                                        arrow_downward
                                    </i>
                                    <i *ngIf="item.taskPriority == 'Medium'" class="material-icons">
                                        trending_flat
                                    </i>
                                    <p>
                                        {{item.taskName}}
                                    </p>
                                </div>
                                <div>
                                    <button (click)="removeTask(item.id)">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </button>
                                    <button (click)="editTask(item.id)">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <router-outlet></router-outlet>